* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eee;

    text-decoration: none;
    list-style-type: none;
    font: normal normal normal 18px/1.3em Times;
}

body {
    height: 100%;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_block {
    position: relative;
    top: 1em;
    width: 96%;
    min-height: 92vh;
    max-height: max-content;
    border-radius: 25px;
    background: linear-gradient(60deg , black , rgb(25, 25, 25), black);
    background-size: 300%;
    animation: horizontal_scroll 40s linear infinite;
}

.rgb::before , .rgb::after {
    content: '';
    position: absolute;
    left: -3px;
    top: -2px;
    z-index: -1;
    border-radius: 26px;
    background: linear-gradient(45deg , #f00, #f50, #fa0, #ff0, #af0, #5f0, #0f0, #0f5, #0fa, #0ff, #0af, #05f, #00f, #50f, #a0f, #f0f, #f0a, #f05, #f00, #f50, #fa0, #ff0);
    background-size: 300%;
    background-position: 210% 0;
    width: calc(100% + 6px);
    height: calc(100% + 4px);
    /*animation: horizontal_scroll 30s linear infinite;*/
}

.rgb::after {
    filter: blur(2em);
    opacity: 0.8;
}

/* retait de l'animation pour préserver les performances.
@keyframes horizontal_scroll {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 300% 0;
    }
}
*/

.content {
    min-height: 90vh;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    width: 100%;
}
header h1 {
    font: normal bold 2.5em/1.2em Times;
    text-align: center;
    color: #fca;
}

.content__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 78vh;
    width: 100%;
}

.content__main__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 450px;
    min-width: 500px;
    max-width: 65%;
}

.introduction {
    max-height: 40%;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduction div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 90%;
}
.introduction p {
    text-align: justify;
    margin-bottom: 0.5em;
}
.introduction ul {
    display: flex;
    justify-content: space-between;
}
.introduction li {
    max-width: 22%;
    text-align: center;
    font-size: 0.85rem;
    background: #111;
    box-shadow: 0px 0px 10px grey;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_cards {
    max-height: 50%;
    min-width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    height: 230px;
    width: 175px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#111, #222);
    border-radius: 15px;
    margin: 15px;
    transition: transform 0.15s;
}
.card:hover {
    transform: scale(1.1);
}

.card__name {
    font: normal bold 2em Times;
}

.card__circle {
    position: relative;
}
svg {
    height: 110px;
    width: 110px;
}
svg circle {
    fill: none;
    stroke-width: 7%;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 310;
    stroke-dashoffset: 310;
}
svg circle:nth-child(1) {
    stroke: #222;
    stroke-dashoffset: 0;
}
.card__circle__pourcentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: normal bold 1.5em Times;
}

.card p {
    font-size: 0.85em;
}

.html {
    color: #f00;
    text-shadow: 1px 1px 3px #c88;   
}
.card.html {
    box-shadow: 0px 0px 12px #c88;   
}
.html circle {
    stroke: #f00;    
}
svg.html circle:nth-child(2) {
    animation: circle__html 3s forwards;
}
@keyframes circle__html {
    to {
        stroke-dashoffset: 77.5;
    }
}

.css {
    color: #00f;
    text-shadow: 1px 1px 3px #66a;
}
.card.css {  
    box-shadow: 0px 0px 12px #66a;
}
.css circle {
    stroke: #00f;
}
svg.css circle:nth-child(2) {
    animation: circle__css 3s forwards;
}
@keyframes circle__css {
    to {
        stroke-dashoffset: 124;
    }
}

.js {
    color: #0f0;
    text-shadow: 1px 1px 3px #8c8;   
}
.card.js {
    box-shadow: 0px 0px 12px #8c8;   
}
.js circle {
    stroke: #0f0;    
}
svg.js circle:nth-child(2) {
    animation: circle__js 3s forwards;
}
@keyframes circle__js {
    to {
        stroke-dashoffset: 279;
    }
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 300px;
    max-width: 35%;
}
.profil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    background: linear-gradient(20deg , #311, #111);
    height: 420px;
    width: 340px;
    padding: 5px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px #866;
}

.profil__top {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
}
.profil__top img {
    border-radius: 15px;
}
.profil__top__descriptif {
    width: 170px;
}

.profil__bottom {
    width: 310px;
    align-self: center;
}
.profil__bottom__lien {
    height: 50px;
}
.profil__bottom__lien a {
    transition: all 0.15s;
    padding: 5px;
}
.profil__bottom__lien a:hover {
    transform: scale(1.1);
    color: #f55;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    width: 100%;
}
nav {
    height: 90%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, rgba(54, 54, 54, 0.333), rgba(92, 92, 92, 0.333));
    box-shadow: 0px 0px 20px #333;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 15px;
}
.network {
    height: 100%;
    width: 250px;
}
.navigation_site {
    height: 80%;
    width: 500px;
}
.network img {
    margin-top: 5px;
}
.network img:hover {
    animation: dingleling 0.15s 0s 2;
    transform: scale(1.1);
}
.navigation_site a {
    transition: all 0.15s;
    padding: 8px;
}
.navigation_site a:hover {
    transform: scale(1.1);
    color: #f55;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

@keyframes dingleling {
    0%{
        transform: rotateZ(0deg)
    }
    25%{
        transform: rotateZ(10deg)
    }
    50%{
        transform: rotateZ(0deg)
    }
    75%{
        transform: rotateZ(-10deg)
    }
    100%{
        transform: rotateZ(0deg)
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.aroundcenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}