.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaroundcenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexcolumnaroundcenter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.flexevenly {
    display: flex;
    justify-content: space-evenly;
}
.flexevenlycenter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}