* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal normal 1rem/1.3rem Times, serif;
  color: #ddd;
  text-decoration: none;
  list-style-type: none;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #000;
}

/*----------------------- Nav Bar --------------------------*/
.navBar {
  position: fixed;
  min-height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
}
/* Placement de chaque division de la navBar */
.navBar > div {
  position: relative;
  min-width: 7rem;
  display: flex;
  align-items: center;
}
.navBar__menuCenter {
  justify-content: center;
  text-align: center;
}
.navBar__menuRight {
  justify-content: flex-end;
}
/* Styles des button de la navBar */
[class^="navBar__menu"] > i {
  padding: 0.4rem 0.5rem;
  margin: 0.5rem;
  border-radius: 1.5rem;
  color: #ccc;
}
[class*="buttonSlide"]:hover {
  background: #333;
  box-shadow: 0 0 0.2rem #aaa;
  cursor: pointer;
  color: #ddd;
}
[class*="buttonSlide"]:active {
  background: #a33;
  box-shadow: 0 0 0.5rem #faa;
  color: #fff;
}

/* Style des différente boite "menu" */
.navBar ul {
  position: absolute;
  top: 3rem;
  border-top: solid 2px #a33;
  background: #111;
}
/* boite gauche */
.navBar__menuLeft ul {
  left: -310px;
  min-width: 250px;
  max-width: 300px;
  min-height: 100vh;
  padding-top: 3rem;
  transition: 0.3s;
}
.navBar__menuLeft li {
  padding: 0 0.6rem;
  margin-top: 0.5rem;
}
.navBar__menuLeft li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.navBar__menuLeft li:active {
  color: #a33;
}
/* boite central */
.navBar__menuCenter ul {
  top: -10rem;
  min-width: 250px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
  transition: 0.3s;
}
.tabs {
  padding: 0.5rem 0.1rem;
}
.tabs:hover {
  background: #333;
  cursor: pointer;
}
.tabs:active {
  background: #a33;
  text-shadow: 0 0 0.3rem #ccc;
  font-weight: bold;
}
/* boite droite */
.navBar__menuRight ul {
  right: -64px;
  min-width: 2rem;
  text-align: center;
  font-size: 2rem;
  border-bottom-left-radius: 0.5rem;
  transition: 0.3s;
}
.navBar__menuRight > ul i {
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1.7rem;
  margin-top: 0.3rem;
  transition: 0.2s;
}
.navBar__menuRight > ul i:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.navBar__menuRight > ul i:active {
  color: #a33;
  text-shadow: 0 0 0.3rem #f99;
}

/* List des class pour mes fonction Javascript, menu amovible */
.translateRight {
  transform: translateX(310px);
}
.translateLeft {
  transform: translateX(-4rem);
}
.translateDown {
  transform: translateY(13rem);
}
.reverse {
  transform: rotate(180deg);
}

/*______________ Main Container ______________*/

main {
  position: relative;
  top: 3rem;
  z-index: -1;
  min-height: calc(100vh - 4rem);
  width: 100%;
}
header {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background: linear-gradient(
    25deg,
    #111,
    #211,
    #311,
    #411,
    #511,
    #500,
    #400,
    #300,
    #200,
    #100,
    #000
  );
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 0.1rem 0.1rem 0.1rem #a66;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  margin-top: 1rem;
}
/* Design des ARTICLES */
article {
  max-width: 640px;
  padding: 1rem 0.5rem 2.5rem 1rem;
  background: #111;
  margin: 1rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0px 0.2rem #733;
}
article > h2 {
  padding-top: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
article > .date {
  text-decoration: underline;
}
article > p {
  font: normal 1rem/1.3rem Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1rem;
}
article a {
  font: normal 1rem/1.3rem Verdana, Geneva, Tahoma, sans-serif;
  color: #c88;
}
article a:hover {
  text-decoration: underline;
}

@media all and (min-width: 780px) {
  .navBar__menuRight > ul {
    right: 0px;
  }
}

@media all and (min-width: 1200px) {
  .navBar__menuLeft > ul {
    left: 0px;
  }
}
