* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal normal 1rem/1.3rem Times, serif;
  color: #ddd;
  text-decoration: none;
  list-style-type: none;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #000;
}

/*----------------------- Nav Bar --------------------------*/
.navBar {
  position: fixed;
  min-height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
}
/* Button header and networks */
.navBarButton {
  padding: 0.4rem 0.5rem;
  border-radius: 1rem;
  margin: 0.5rem;
  margin-right: 0.8rem;
  color: #ccc;
}
.navBarButton:hover {
  background: #333;
  box-shadow: 0 0 0.2rem #aaa;
  cursor: pointer;
  color: #ddd;
}
.navBarButton:active {
  background: #a33;
  box-shadow: 0 0 0.5rem #faa;
  color: #fff;
}

/*---------- Nav Bar Header ----------*/
.navBar__header {
  max-height: 3.2rem;
  display: flex;
}
.navBar__header h2 {
  display: none;
  margin: 0.7rem 0;
  font-size: 1rem;
}

/*---------- Nav Bar Top Menu ----------*/
.navBar__topMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navBar__centerMenu {
  position: relative;
  width: 10rem;
  text-align: center;
}
.navBar__centerMenu {
}
.navBar__centerMenu ul {
  position: absolute;
  top: -7rem;
  padding: 0.2rem 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #111;
}
/*---------- Nav Bar Side Menu ----------*/
.menuTranslate {
  transform: translateX(-20rem);
}
.navBar__sideMenu {
  position: fixed;
  left: -20rem;
  height: 100vh;
  width: 20rem;
  background: #111;
  transition: 0.5s;
  z-index: 2;
  /* overflow-y: scroll; */
}

/* Side Networks */
.navBar_sideNetworks {
  position: relative;
}
.networks {
  position: absolute;
  top: 0;
  right: -3.5rem;
  background: #111;
}
