@import url(../styles/nav_barre.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal normal 1rem/1.3rem Times, serif;
  color: #ddd;
  text-decoration: none;
  list-style-type: none;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #000;
}

/*______________ Main Container ______________*/

main {
  position: relative;
  top: 3rem;
  z-index: -1;
  min-height: calc(100vh - 4rem);
  width: 100%;
}
header {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background: linear-gradient(
    25deg,
    #111,
    #211,
    #311,
    #411,
    #511,
    #500,
    #400,
    #300,
    #200,
    #100,
    #000
  );
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 0.1rem 0.1rem 0.1rem #a66;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  margin-top: 1rem;
}
/* Design des ARTICLES */
article {
  max-width: 640px;
  padding: 1rem 0.5rem 2.5rem 1rem;
  background: #111;
  margin: 1rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0px 0.2rem #733;
}
article > h2 {
  padding-top: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
article > .date {
  text-decoration: underline;
}
article > p {
  font: normal 1rem/1.3rem Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1rem;
}
article a {
  font: normal 1rem/1.3rem Verdana, Geneva, Tahoma, sans-serif;
  color: #c88;
}
article a:hover {
  text-decoration: underline;
}

/* Fenêtre Twich pour la lecture vidéo */
[id^="twitch-embed"] {
  height: 360px;
}

[id^="twitch-embed"] iframe {
  height: 100%;
  width: 100%;
}

/* Media Queries */
@media all and (min-width: 780px) {
  .navBar__menuRight > ul {
    right: 0px;
  }
}

@media all and (min-width: 1360px) {
  .navBar__menuLeft > ul {
    left: 0px;
  }
}
