* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal normal 1rem/1.3rem Times, serif;
  color: #1a1a1a;
  text-decoration: none;
  list-style-type: none;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
}

/*----------------------- Nav Bar --------------------------*/
.navBar {
  position: fixed;
  z-index: 10;
  min-height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff3cb;
}
.tabs {
  padding: 0.5rem 1rem;
}
.tabs:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.tabs a:active {
  text-shadow: 0 0 0.1rem #aa0000;
}
.navBar ul {
  display: flex;
}
.navBar__menuRight > ul i {
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1.7rem;
  transition: 0.2s;
}
.navBar__menuRight > ul i:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.navBar__menuRight > ul i:active {
  color: #a33;
  text-shadow: 0 0 0.3rem #f99;
}

/* -------------------- CV -------------------- */

header {
  padding-top: 3rem;
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header H1 {
  font: bold 3rem Times, serif;
}

section {
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

aside {
  min-height: 100%;
  max-width: 220px;
  margin: 0.3rem 0.1rem;
  border: solid 1px #1d1d1d;
  border-radius: 5px;
  background: #fff3cb;
}
aside div {
  margin: 0.5rem 0.5rem 3rem 0.5rem;
}
aside h3 {
  font: bold 1.5rem Times, serif;
  margin-bottom: 0.5rem;
}
aside i {
  padding: 0.3rem;
}
aside a span {
  color: #3e52ff;
}

main {
  position: relative;
  min-height: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main img {
  position: absolute;
  right: 0.5rem;
  height: 150px;
  width: 150px;
  border: solid 1px #1d1d1d;
  border-radius: 5px;
  background: #fff3cb;
}
#competances > div {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
#competances div {
  margin: 0;
}
main > div h3 {
  font: bold 1.2rem Times, serif;
}
main div {
  margin: 0.5rem 0.5rem 2rem 1rem;
}
main h2 {
  font: bold 1.8rem Times, serif;
  margin-bottom: 1rem;
}
main p {
  text-align: justify;
  margin-bottom: 0.5rem;
}
main span {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

@media print {
  .navBar {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  section {
    flex-direction: column;
    align-items: center;
  }
  aside {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  aside div {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 500px) {
  #competances > div {
    flex-direction: column;
  }
  #competances > div div {
    margin-bottom: 1rem;
  }
}
