* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal normal 1rem/1.3rem Times, serif;
  color: #1a1a1a;
  text-decoration: none;
  list-style-type: none;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
}

.navBar {
  position: fixed;
  z-index: 10;
  min-height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff3cb;
}

.tabs {
  padding: 0.5rem 1rem;
}
.tabs:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.tabs:active {
  color: #790000;
  font-weight: bold;
}

.navBar ul {
  display: flex;
}

.navBar__menuRight > ul i {
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1.7rem;
  transition: 0.2s;
}
.navBar__menuRight > ul i:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.navBar__menuRight > ul i:active {
  color: #a33;
  text-shadow: 0 0 0.3rem #f99;
}
