.profil {
    height: 420px;
    width: 340px;
    padding: 5px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px #866;
    background: linear-gradient(20deg , #311, #111);
    text-align: justify;
}
.profil__top {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
}
.profil__top img {
    height: 150px;
    border-radius: 15px;
}
.profil__top__descriptif {
    width: 170px;
}

.profil__bottom {
    width: 310px;
    align-self: center;
}
.profil__bottom__lien {
    height: 50px;
}
.profil__bottom__lien a {
    height: 2em;

    transition: all 0.15s;
    padding: 5px;
    border: solid 2px #533;
    border-radius: 1em;
}
.profil__bottom__lien a:hover {
    background: rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    border-radius: 20px;
    color: #f55;
}