.card {
    height: 230px;
    width: 175px;
    border-radius: 15px;
    margin: 15px;
    background: linear-gradient(#111, #222);
    transition: transform 0.15s;
}
.card:hover {
    transform: scale(1.1);
}
.card__name {
    font: normal bold 2em Times;
}
.card__circle {
    position: relative;
}
.card__circle > svg {
    height: 110px;
    width: 110px;
}
.card__circle > svg > circle {
    fill: none;
    stroke-width: 7%;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 310;
    stroke-dashoffset: 310;
}
.card__circle > svg > circle:nth-child(1) {
    stroke: #222;
    stroke-dashoffset: 0;
}
.card__circle__pourcentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: normal bold 1.5em Times;
}
.card > p {
    font-size: 0.85em;
}

/* HTML5 */
div.red {
    box-shadow: 0px 0px 12px #c88;
}
div.red > h3 {
    color: #f00;
    text-shadow: 1px 1px 3px #c88; 
}
div.red > div > svg > circle {
    stroke: #f00;
}
div.red > div > svg > circle:nth-child(2) {
    animation: circle__red 3s forwards;
}
@keyframes circle__red {
    to  {stroke-dashoffset: 77.5;}
}
div.red > div > span {
    color: #f00;
    text-shadow: 1px 1px 3px #c88;     
}
/* CSS3 */
div.blue {
    box-shadow: 0px 0px 12px #66a;
}
div.blue > h3 {
    color: #00f;
    text-shadow: 1px 1px 3px #66a; 
}
div.blue > div > svg > circle {
    stroke: #00f;
}
div.blue > div > svg > circle:nth-child(2) {
    animation: circle__blue 3s forwards;
}
@keyframes circle__blue {
    to  {stroke-dashoffset: 124;}
}
div.blue > div > span {
    color: #00f;
    text-shadow: 1px 1px 3px #66a;     
}
/* JavaScript */
div.green {
    box-shadow: 0px 0px 12px #8c8;
}
div.green > h3 {
    color: #0f0;
    text-shadow: 1px 1px 3px #8c8; 
}
div.green > div > svg > circle {
    stroke: #0f0;
}
div.green > div > svg > circle:nth-child(2) {
    animation: circle__green 3s forwards;
}
@keyframes circle__green {
    to  {stroke-dashoffset: 279;}
}
div.green > div > span {
    color: #0f0;
    text-shadow: 1px 1px 3px #8c8;     
}